# 1. Area of a Rectangle

In [ ]:
len = float(input("Enter length of rectangle: "))
bredt = float(input("Enter breadth of rectangle: "))
area = len * bredt
print("Area of rectangle =", area)

# 2. Read Two Strings

In [ ]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
print("String 1:", str1)
print("String 2:", str2)

# 3. Read and Display Various Data Types

In [ ]:
i = int(input(" integer: "))
f = float(input( float: "))
s = input("  string: ")
b = input(" boolean  ") == 'True'
print("Integer:", i, type(i))
print("Float:", f, type(f))
print("String:", s, type(s))
print("Boolean:", b, type(b))

# 4. Calculate

In [ ]:
u = float(input(" initial velocity "))
a = float(input("Enter acceleration "))
t = float(input("Enter time "))
v = u * t + 0.5 * a * t**2
print("Final velocity", v)

#5. Find Radius of a Circle

In [ ]:
import math
area = float(input("Enter the area of the circle: "))
radius = math.sqrt(area / math.pi)
print("Radius of the circle ", radius)

# 6. Find Profit

In [ ]:
costprice = float(input("Enter cost price "))
sellingprice = float(input("Enter selling price "))
profit = sellingprice - costprice
print("Profit earned ", profit)

#7. Celsius to Fahrenheit

In [ ]:
celsius = float(input("Enter temperature in Celsius: "))
fahrenheit = (celsius * 9/5) + 32
print("Temperature in Fahrenheit:", fahrenheit)

# 8. Grams to Kilograms and Grams

In [ ]:
totalgrams = int(input("Enter weight in grams: "))
kilograms = total_grams // 1000
grams = totalgrams % 1000
print("Weight", kilograms, "kg and", grams, "g")

# 9. Reverse a 4-digit Number

In [ ]:
num = int(input("Enter a 4-digit number: "))
rev = 0
rev += (num % 10) * 1000
num = num // 10
rev += (num % 10) * 100
num = num // 10
rev += (num % 10) * 10
num = num // 10
rev += num
print("Reversed number:", rev)

# 10. Distance Between Two Points

In [ ]:
import math
x1 = float(input(" x1: "))
y1 = float(input(" y1: "))
x2 = float(input(" x2: "))
y2 = float(input(" y2: "))
dist= math.sqrt((x2 - x1)**2 + (y2 - y1)**2)
print("Distance between points =", dist)

# 11. Power Table

In [ ]:
print("X Y X**Y")
print("10 2", 10**2)
print("10 3", 10**3)
print("10 4", 10**4)
print("10 5", 10**5)